 form {
            background-color: hsl(0, 0%, 80%) !important;
        }

        .button {
            background-color: hsl(248, 92%, 66%) !important;
            color: hsl(0, 0%, 100%) !important;
        }

        #msgDisplay {
            visibility: hidden;
        }

        #msgDisplay.show {
            visibility: visible;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        body.dark-mode {
            background-color: #121212;
            color: #e0e0e0;
        }

        body.dark-mode form,
        body.dark-mode .box,
        body.dark-mode .input {
            background-color: #333;
            color: #e0e0e0;
            border-color: #555;
        }

        body.dark-mode .button:focus {
            border-color: #888;
            box-shadow: 0 0 0 0.125em rgba(179, 179, 179, 0.25);
        }

        body.dark-mode .breadcrumb a {
            color: #e0e0e0;
        }

        body.dark-mode .breadcrumb li.is-active a {
            color: #bbb;
        }

        body.dark-mode label,
        body.dark-mode strong {
            color: #e0e0e0 !important;
        }
        .toggle-container {
            position: fixed;
            top: 20px;
            right: 20px;
        }